<nzx-page>
  <nzx-header>
    <form nz-form [formGroup]="searchForm">
      <ma-form-search [form]="searchForm" [buttonAlignRight]="false" [table]="table">
        <formly-form [form]="searchForm" [fields]="searchFields" [model]="searchModel"></formly-form>
      </ma-form-search>
    </form>
  </nzx-header>

  <nzx-content>
    <nzx-table #table api="/system/role/list" [nzxColumns]="columns" [nzShowPagination]="false" [nzFrontPagination]="true" [params]="getParams" [nzxFit]="true" >
      <div title>
        <ng-container *auth="'role:save'">
          <button nz-button nzType="primary" (click)="onNewOpenModal({}, modalTemplate, table)">
            <span nz-icon nzType="plus"></span>
            新增角色
          </button>
        </ng-container>
      </div>

      <ng-template named="tdIconTemplate" let-row>
        @if (row.icon){
          <span nz-icon [nzType]="row.icon"></span>
        } @else { -- }
      </ng-template>
      <ng-template named="menuTypeTemplate" let-row>
        <nz-tag [nzColor]="menuTypeMap[row.menuType]?.color">{{ menuTypeMap[row.menuType]?.label }}</nz-tag>
      </ng-template>
    </nzx-table>
  </nzx-content>
</nzx-page>

<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    >
      <ng-template named="iconTemplate">
        <ma-icon-picker formControlName="icon"></ma-icon-picker>
      </ng-template>
    </formly-form>
  </form>
</ng-template>
