<nzx-page>
  <nzx-header>
    <form nz-form [formGroup]="searchForm">
      <ma-form-search [form]="searchForm" [buttonAlignRight]="false" [table]="table">
        <formly-form [form]="searchForm" [fields]="searchFields" [model]="searchModel"></formly-form>
      </ma-form-search>
    </form>
  </nzx-header>

  <nzx-content>
    <nzx-table
      #table
      api="/system/role/list"
      [nzxColumns]="columns"
      [nzShowPagination]="false"
      [params]="getParams"
      [nzxFit]="true"
    >
      <div title>
        <ng-container *auth="'role:save'">
          <button nz-button nzType="primary" (click)="onNewOpenModal({}, modalTemplate, table)">
            <span nz-icon nzType="plus"></span>
            新增角色
          </button>
        </ng-container>
      </div>
    </nzx-table>
  </nzx-content>
</nzx-page>

<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    ></formly-form>
  </form>
</ng-template>

<ng-template #permissionModalTemplate>
  <div nz-row [nzGutter]="20" class="clear-form-item-bottom">
    <div nz-col class="mt-sm flex-main">
      <nz-form-item>
        <nz-form-label>菜单权限</nz-form-label>
        <nz-form-control>
          <label nz-checkbox [(ngModel)]="menuExpand" (ngModelChange)="onToggleExpandAll($event, menuTree)">
            展开/折叠
          </label>
          <label
            nz-checkbox
            [(ngModel)]="menuCheckAll"
            [nzIndeterminate]="menuIndeterminate"
            (ngModelChange)="treeCheckAllChange($event, menuTree, 'menuIndeterminate')"
          >
            全选/全不选
          </label>
          <label nz-checkbox [(ngModel)]="menuCheckStrictly">层级联动</label>
        </nz-form-control>
      </nz-form-item>

      <nz-divider class="mb-l mt-m"></nz-divider>
      <div style="height: 437px; overflow: auto">
        <nz-tree
          #menuTree
          [nzData]="$any(menu$ | async | defaultify: [])"
          [(nzCheckedKeys)]="menuCheckedKeys"
          [nzCheckStrictly]="!menuCheckStrictly"
          (nzCheckBoxChange)="treeCheckBoxChange(menuTree, 'menuCheckAll', 'menuIndeterminate')"
          nzVirtualHeight="437px"
          nzCheckable
          nzBlockNode
          nzShowIcon
        ></nz-tree>
      </div>
    </div>
    <div style="border-left: 1px solid rgba(0, 0, 0, 0.06)"></div>
    <div nz-col class="mt-m flex-main">
      <nz-form-item>
        <nz-form-label>权限范围</nz-form-label>
        <nz-form-control>
          <nz-select
            class="full-width"
            [ngModel]="permission"
            (ngModelChange)="onPermissionChange($event)"
            [nzOptions]="$any(permission$ | async)"
            nzPlaceHolder="请选择权限范围"
            nzAllowClear
          ></nz-select>
        </nz-form-control>
      </nz-form-item>

      @if (permission === 1 || customOfficeLoad) {
      <div [hidden]="permission !== 1 && customOfficeLoad">
        <nz-form-item>
          <nz-form-label>数据权限</nz-form-label>
          <nz-form-control>
            <label nz-checkbox [(ngModel)]="officeExpand" (ngModelChange)="onToggleExpandAll($event, officeTree)">
              展开/折叠
            </label>
            <label
              nz-checkbox
              [(ngModel)]="officeCheckAll"
              [nzIndeterminate]="officeIndeterminate"
              (ngModelChange)="treeCheckAllChange($event, officeTree, 'officeIndeterminate')"
            >
              全选/全不选
            </label>
            <label nz-checkbox [(ngModel)]="officeCheckStrictly">层级联动</label>
          </nz-form-control>
        </nz-form-item>

        <nz-divider class="mb-l mt-m"></nz-divider>

        <div style="height: 400px; overflow: auto">
          <nz-tree
            #officeTree
            [nzData]="$any(office$ | async | defaultify: [])"
            [(nzCheckedKeys)]="officeCheckedKeys"
            [nzCheckStrictly]="!officeCheckStrictly"
            (nzCheckBoxChange)="treeCheckBoxChange(officeTree, 'officeCheckAll', 'officeIndeterminate')"
            nzVirtualHeight="400px"
            nzCheckable
            nzBlockNode
          ></nz-tree>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<!--授权用户-->
<ng-template #userModalTemplate let-data>
  <nzx-page style="height: 600px">
    <nzx-header>
      <form nz-form [formGroup]="data.form">
        <ma-form-search [form]="data.form" [buttonAlignRight]="true" [table]="userTable">
          <formly-form
            [form]="data.form"
            [fields]="data.fields"
            [model]="data.model"
            [options]="{ formState: { nzGutter: 0, colNzSpan: 8, labelNzFlex: '60px' } }"
          ></formly-form>
        </ma-form-search>
      </form>
    </nzx-header>

    <nzx-content>
      <nzx-table #userTable [api]="data.url" [nzxColumns]="data.columns" [params]="data.getParams" scrollY="395px">
        <div title>
          <nz-space *ngIf="data.allocate">
            <ng-container *auth="'role:user:unallocated'">
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                (click)="onUnallocatedUserModal(userModalTemplate, userTable)"
              >
                <span nz-icon nzType="plus"></span>
                添加用户
              </button>
            </ng-container>

            <ng-container *auth="'user:delete'">
              <button *nzSpaceItem nz-button nzDanger (click)="onBatchCancelUsers(userTable)">
                <span nz-icon nzType="delete"></span>
                批量取消授权
              </button>
            </ng-container>
          </nz-space>
        </div>
        <ng-template named="status" let-row>
          <nz-tag [nzColor]="row.isLogin ? 'error' : 'success'">{{ row.isLogin ? '停用' : '正常' }}</nz-tag>
        </ng-template>

        <ng-template named="buttons" let-row>
          <a *auth="'role:user:cancel'" (click)="onCancelUsers(row, userTable)">取消授权</a>
        </ng-template>
      </nzx-table>
    </nzx-content>
  </nzx-page>
</ng-template>
