<nz-alert
  nzType="info"
  [nzShowIcon]="true"
  nzMessage="修改成功后会自动退出当前登录！"
  style="margin: -15px auto 15px"
></nz-alert>

<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">旧密码</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="tipTpl">
      <ma-input-password formControlName="password" placeholder="请输入旧密码"></ma-input-password>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>新密码</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="tipTpl">
      <ma-input-password formControlName="newPassword" placeholder="请输入新密码"></ma-input-password>
      <ma-strength-meter [password]="validateForm.get('newPassword')?.value"></ma-strength-meter>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>确认密码</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="tipTpl">
      <ma-input-password formControlName="confirmPassword" placeholder="请输入确认密码"></ma-input-password>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #tipTpl let-control>
  <ng-container *ngIf="control.errors">{{ getMessage(control) }}</ng-container>
</ng-template>
