<nzx-page>
  <nzx-header>
    <form nz-form [formGroup]="searchForm">
      <ma-form-search [form]="searchForm" [buttonAlignRight]="false" (searchClick)="onSearchClick()">
        <formly-form [form]="searchForm" [fields]="searchFields" [model]="searchModel"></formly-form>
      </ma-form-search>
    </form>
  </nzx-header>

  <nzx-content>
    <nzx-table
      #table
      [nzData]="officesSnapshot"
      [nzxColumns]="columns"
      [nzShowPagination]="false"
      [nzxFit]="true"
      (refreshClick)="onRefreshClick()"
    >
      <button title *auth="'menu:save'" nz-button nzType="primary" (click)="onNewOpenModal({}, modalTemplate, table)">
        <span nz-icon nzType="plus"></span>
        新增部门
      </button>

      <ng-template named="status" let-row>
        <nz-tag [nzColor]="(row.status | dic: status$ : true | async)?.['color']">
          {{ row.status | dic: status$ : false | async }}
        </nz-tag>
      </ng-template>
    </nzx-table>
  </nzx-content>
</nzx-page>

<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    >
      <ng-template named="iconTemplate">
        <ma-icon-picker formControlName="icon"></ma-icon-picker>
      </ng-template>
    </formly-form>
  </form>
</ng-template>

<ma-user-picker
  #userPicker
  nzTitle="用户列表"
  [(maSelectedId)]="selectedId"
  [maPermission]="{ addButton: 'office:user:list' }"
  maSelectedUserUrl="/system/office/selected/users"
  maUnSelectedUserUrl="/system/office/unselected/users"
  maSaveSelectedUserUrl="/system/office/add/users"
>
  <button nz-button (click)="onTransferOpenModal(userPicker, officeTemplate)">
    <span nz-icon nzType="transfer-user"></span>
    转移部门
  </button>
</ma-user-picker>

<ng-template #officeTemplate>
  <nz-tree-select
    class="full-width"
    [(ngModel)]="transferOfficeId"
    [nzNodes]="$any(offices)"
    nzPlaceHolder="请选择要转移的部门"
    nzShowSearch
    nzAllowClear
  ></nz-tree-select>
</ng-template>
