<nz-input-group [nzPrefixIcon]="nzPrefixIcon" [nzSize]="nzSize" [nzSuffix]="suffixTemplate">
  <input
    *ngIf="!customInput"
    [type]="textMode"
    current-password
    autocomplete="new-password"
    nz-input
    [disabled]="disabled"
    [readOnly]="readOnly"
    [placeholder]="placeholder"
    [nzBorderless]="nzBorderless"
    [ngModel]="value"
    (ngModelChange)="onModelChange($event)"
  />
  <ng-content></ng-content>
</nz-input-group>

<ng-template #suffixTemplate>
  <i
    *ngIf="toggleVisible"
    nz-icon
    class="eys-pointer"
    [nzType]="textMode === 'text' ? 'eye-invisible' : 'eye'"
    (click)="textMode = textMode === 'text' ? 'password' : 'text'"
  ></i>
</ng-template>
