<nzx-page>
  <nzx-header>
    <form nz-form [formGroup]="searchForm">
      <ma-form-search [form]="searchForm" [buttonAlignRight]="false" (searchClick)="onSearchClick()">
        <formly-form [form]="searchForm" [fields]="searchFields" [model]="searchModel"></formly-form>
      </ma-form-search>
    </form>
  </nzx-header>

  <nzx-content>
    <nzx-table #table [nzData]="menusSnapshot" [nzxColumns]="columns" [nzShowPagination]="false" [nzxFit]="true">
      <div title>
        <nz-space>
          <ng-container *auth="'menu:save'">
            <button *nzSpaceItem nz-button nzType="primary" (click)="onNewOpenModal({}, modalTemplate, table)">
              <span nz-icon nzType="plus"></span>
              新增
            </button>
          </ng-container>

          <ng-container *auth="'menu:delete'">
            <button *nzSpaceItem nz-button nzDanger (click)="onBatchDelete(table)">
              <span nz-icon nzType="delete"></span>
              批量删除
            </button>
          </ng-container>
        </nz-space>
      </div>
      <ng-template named="menuTypeTemplate" let-row>
        <nz-tag [nzColor]="menuTypeMap[row.menuType]?.color">{{ menuTypeMap[row.menuType]?.label }}</nz-tag>
      </ng-template>
    </nzx-table>
  </nzx-content>
</nzx-page>

<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    ></formly-form>
  </form>
</ng-template>
