<!--递归生成菜单树-->
<ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" nzTheme="dark">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus, level: 1 }"></ng-container>
  <ng-template #menuTpl let-children let-level="level">
    <ng-container *ngFor="let menu of children">
      <li
        *ngIf="menu.children && menu.children.length; else menuItemTemplate"
        nz-submenu
        [nzPaddingLeft]="level * 16"
        [nzOpen]="menu.open"
        [nzIcon]="menu.icon"
        [nzTitle]="menu.name"
        (nzOpenChange)="menu.open = $event"
      >
        <ul>
          <ng-container
            *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children, level: level + 1 }"
          ></ng-container>
        </ul>
      </li>

      <ng-template #menuItemTemplate>
        <li
          nz-menu-item
          (click)="handleMenuClick(menu)"
          [nzPaddingLeft]="level * 16"
          [nzSelected]="menu.selected"
          [routerLink]="[menu.url]"
          [nzMatchRouter]="true"
        >
          <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
          <span>{{ menu.name }}</span>
        </li>
      </ng-template>
    </ng-container>
  </ng-template>
</ul>
