<span
  nz-popover
  [(nzPopoverVisible)]="notifyMenuVisible"
  [nzPopoverContent]="notifyMenu"
  [nzPopoverOverlayStyle]="{ 'padding-left': 0, 'padding-right': 0 }"
  nzPopoverOverlayClassName="layout-header-notify"
  nzPopoverTrigger="click"
  nzPopoverPlacement="bottomRight"
  (click.outside)="notifyMenuVisible = false"
>
  <i nz-icon nzType="bell"></i>
</span>

<ng-template #notifyMenu>
  <nz-card [nzBodyStyle]="{ padding: 0 }" style="width: 350px">
    <nz-list nzItemLayout="horizontal" nzSize="small" [nzBordered]="false">
      <nz-list-item *ngFor="let i of [1, 2, 3, 4]" class="full-width">
        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
          第三方紧急代码变更第三方紧急代码变更第三方紧急代码变更第三方紧急代码变更
        </div>
      </nz-list-item>
      <nz-list-footer>
        <div class="full-with" style="text-align: center"><a>清空通知</a></div>
      </nz-list-footer>
    </nz-list>
  </nz-card>
</ng-template>
