<div nz-dropdown [nzDropdownMenu]="menu" class="avatar-box" nzTrigger="click">
  <nz-avatar
    nzIcon="user"
    nzSize="default"
    class="avatar"
    [nzSrc]="userInfo?.avatar ? env.basePath + userInfo?.avatar : undefined"
  ></nz-avatar>
  <span>{{ userInfo?.username }}</span>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu style="min-width: 150px">
    <li nz-menu-item routerLink="/main/system/profile">
      <i nz-icon nzType="user" class="mr-sm"></i>
      个人中心
    </li>

    <li nz-menu-item (click)="updatePassword()">
      <i nz-icon nzType="edit" class="mr-sm"></i>
      修改密码
    </li>
    <li nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout" class="mr-sm"></i>
      退出登录
    </li>
  </ul>
</nz-dropdown-menu>

<ng-template></ng-template>
