<np-base-layout (menuClick)="handleMenuClick($event)">
  <div class="nav-content-wrapper">
    <nz-breadcrumb class="nav-breadcrumb" *ngIf="pathTraces.length">
      <nz-breadcrumb-item *ngFor="let item of pathTraces; last as last; first as first">
        <a *ngIf="item.url && (!last || first); else lastItemTemplate" (click)="handleMenuClick(item)">
          <i *ngIf="item.icon" class="ant-menu-item-icon" [fa-icon]="item.icon"></i>
          {{ item.name }}
        </a>
        <ng-template #lastItemTemplate>
          <i *ngIf="item.icon" class="ant-menu-item-icon" [fa-icon]="item.icon"></i>
          {{ item.name }}
        </ng-template>
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div style="flex: 1; background: #fff">
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</np-base-layout>
