<div class="full-height-less flex-horizontal">
  <div style="width: 350px">
    <nz-card
      [nzTitle]="titleTemplate"
      [nzExtra]="nzExtraTemplate"
      nzSize="small"
      class="flex-card card-body-less card-border-right full-height"
    >
      <div class="flex-vertical flex-main">
        <div class="search-box">
          <nz-input-group nzSearch nzSuffixIcon="search">
            <input nz-input placeholder="请输入关键字查询" [(ngModel)]="searchText" />
          </nz-input-group>
        </div>

        <div class="flex-main relative">
          <div class="full-overflow ant-list ant-list-sm ant-list-split">
            <div
              class="ant-list-item dic-item"
              *ngFor="let item of rootDic | search: ['label', 'value'] : searchText"
              (click)="onDicClick(item)"
              [class.active]="selected === item"
            >
              <div class="ant-list-item-meta">
                <div class="ant-list-item-meta-avatar">
                  <nz-avatar
                    class="dic-item-avatar"
                    [nzText]="$any(item.dictType | dic: dicType$ : false | async)"
                    [ngClass]="item.status !== 1 ? (item.dictType | dic: dicType$ : true | async)?.['clazz'] : null"
                  ></nz-avatar>
                </div>
                <div class="ant-list-item-meta-content">
                  <div style="font-weight: 600" class="flex-between">
                    <div
                      class="segmented-text-ellipsis"
                      [class.disabled-label]="item.status === 1"
                      [class.ant-list-item-meta-description]="item.status === 1"
                    >
                      {{ item.label }}
                    </div>

                    <div>
                      <nz-tag
                        *ngIf="item.dataType | dic: dataType$ | async as dataTypeLabel"
                        [nzColor]="(item.dataType | dic: dataType$ : true | async)?.['color']"
                      >
                        {{ dataTypeLabel }}
                      </nz-tag>
                    </div>
                  </div>

                  <div class="ant-list-item-meta-description segmented-text-ellipsis">{{ item.value }}</div>
                </div>
              </div>
              <div class="item-actions">
                <button
                  *auth="'dict:update'"
                  nz-button
                  nzType="link"
                  title="编辑字典"
                  (click)="onUpdateRootDicOpenModal($event, item, modalTemplate)"
                >
                  <span nz-icon nzType="edit"></span>
                </button>
                <button
                  *auth="'dict:delete'"
                  nz-button
                  nzType="link"
                  title="删除字典"
                  nzDanger
                  (click)="onRootDicDeleteClick($event, item)"
                >
                  <span nz-icon nzType="delete"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #titleTemplate>
        <div class="flex-between">
          <div>数据字典</div>
          <button
            *auth="'dict:save'"
            nz-button
            nzType="link"
            nzSize="small"
            (click)="onNewRootDicOpenModal(modalTemplate)"
          >
            <span nz-icon nzType="plus"></span>
            新增字典
          </button>
        </div>
      </ng-template>

      <ng-template #nzExtraTemplate>
        <span nz-icon nzType="ellipsis-vertical" class="cursor-pointer" nz-dropdown [nzDropdownMenu]="menu"></span>
      </ng-template>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu style="width: 200px">
          <li nz-menu-item (click)="loadData()">
            <span nz-icon nzType="reload" class="mr-sm"></span>
            刷新
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-card>
  </div>

  <div class="flex-main relative" style="padding: 8px; background-color: #fff">
    <nzx-table
      *ngIf="selected"
      #table
      [nzxColumns]="columns"
      api="/system/dict/list"
      [nzShowPagination]="false"
      [params]="getParams"
    >
      <div title>
        <nz-space>
          <ng-container *auth="'dict:save'">
            <button *nzSpaceItem nz-button nzType="primary" (click)="onNewDicItemOpenModal(modalTemplate, table)">
              <span nz-icon nzType="plus"></span>
              新增字典项
            </button>
          </ng-container>

          <ng-container *auth="'dict:delete'">
            <button *nzSpaceItem nz-button nzDanger (click)="onItemBatchDelete(table)">
              <span nz-icon nzType="delete"></span>
              批量删除
            </button>
          </ng-container>
        </nz-space>
      </div>

      <ng-template named="status" let-row>
        <nz-tag
          *ngIf="row.status | dic: status$ | async as statusLabel"
          [nzColor]="(row.status | dic: status$ : true | async)?.['color']"
        >
          {{ statusLabel }}
        </nz-tag>
      </ng-template>
    </nzx-table>

    <div *ngIf="!selected" class="flex-center-middle full-height">
      <nz-empty *ngIf="!selected" nzNotFoundContent="请先点击左侧的数据字典"></nz-empty>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    ></formly-form>
  </form>
</ng-template>
